.mb-accept-cookies-banner {
	display: block;
	position: fixed;
	bottom: 12px;
	left: 12px;
	width: 100%;
	max-width: 380px;
	background: #666;
	color: white;
	border-radius: 5px;
}
.mb-accept-cookies-banner .banner-content {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	padding: 4px 30px;
}
.mb-accept-cookies-banner .banner-content a {
	color: white;
	text-decoration: underline;
}
.mb-accept-cookies-banner .banner-content a:hover {
	
}
.mb-accept-cookies-banner .banner-content button {
	appearance: none;
	border: 1px solid white;
	background: none;
	color: white;
	font-size: 16px;
	font-weight: bold;
	border-radius: 4px;
	padding: 4px 12px;
}
.mb-accept-cookies-banner .banner-content button:hover {
	color: black;
	background: white;
	cursor: pointer;	
}